# Dependencies
node_modules/
backend/venv/
backend/__pycache__/
frontend/.next/

# Environments
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/out/

# System Files
.DS_Store
Thumbs.db
